.woodoo-tech-switcher {
  --bg-color: var(--wp--preset--color--base, #fff);
  --text-color: var(--wp--preset--color--contrast, #000);
  z-index: 998;
  overflow: auto;
}
.has-contrast-background-color .woodoo-tech-switcher {
  --bg-color: var(--wp--preset--color--contrast, #000);
  --text-color: var(--wp--preset--color--base, #fff);
}
.woodoo-tech-switcher-button {
  padding: 1rem 2rem;
  display: block;
  border: 1px solid;
  border-radius: 2em;
  color: var(--text-color)!important;
  background-color: var(--bg-color);
  font-size: var(--wp--preset--font-size--30, 1.875rem);
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover, &.active {
    text-decoration: none;
    color: var(--bg-color)!important;
    background-color: var(--text-color);
  }
}
.woodoo-tech-switcher-description {
  margin-left: 2rem;
  opacity: .6;
  transform-origin: 50% 0;
  transform: translateY(0);
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.woodoo-tech-switcher-description.active {
  opacity: 1;
}
.tech-circles {
  height: 1em;
  width: auto;
  margin-right: 0.1em;
  position: relative;
  top: .1em;
}
.woodoo-tech-switcher.fixed {
  position: fixed;
  top: 0;  
  margin: 0;
  
  & .woodoo-tech-switcher-description {
    transform: translateY(-50%);
    opacity: 0;
  }
}
@media (max-width: 781px) {
  .woodoo-tech-switcher :not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex: 0 0 calc(33.334% - .667rem)!important;
  }
  .woodoo-tech-switcher-button {
    font-size: 3.5vw;
    padding: 1em;
  }
  .woodoo-tech-switcher-description {
    margin-left: 1em;
    font-size: .6em;
  }
}